@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  div,
  img,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
}

:root {
  --whaite_f8f7f6: #f8f7f6;
  --gray_color: #6b7280c6;
  --black_color: #000000;
  --white_color: #fff;
  --josefin: "Josefin Sans", sans-serif;
  --Inter: "Inter", sans-serif;
}
