@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }

  ul,
  li,
  ol {
    list-style: none;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  img,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }

  /* 🌙 Light mode default styles */
  body {
    background-color: var(--white_color);
    color: var(--black_color);
    font-family: var(--josefin);
  }

  /* 🌚 Dark mode override styles */
  .dark body {
    background-color: #0f0f0f;
    color: #f1f1f1;
  }
}
